body {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif !important;
}

nav {
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
#content {
  width: 70%;
  margin: 0 auto;
}
.containerA, .containerB, .containerC, .containerD{
  float: left;
  margin: 1%;
  position: relative;
  padding: 0.65%;
}
.containerA {
  width: 46.7%;
  height: 50%;
}
.containerB {
  width: 96.7%;
  height: 50%;
}
.containerC {
  width: 30%;
  height: 50%;
}
.containerD {
  width: 21.7%;
  height: 50%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}
